@use 'system/colors.scss'as *;
@use 'system/typography.scss'as *;
@use 'system/spacing.scss'as *;
@use 'system/buttons.scss'as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

button {
  @include resetBtn;
  width: 100%;
  background: $white;
  color: $dark-cinnamon;


  span,
  a {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    @include btnDisabled;

    &:hover {
      cursor: default;
    }
  }


  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
  }

  &.flat {
    @include btnFlat;
  }

  &.plain {
    @include btnFlat();
  }

  &.read-more {
    text-transform: uppercase;
  }

}

.btn-padding {
  padding: 20px;
}

button[disabled],
input[disabled],
button.disabled {
  pointer-events: none
}

.btn-light {
  @include fontMontserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;

  span,
  a,
  &::placeholder {
    background: $light-sand;
    color: $indigo;
    padding: 32px 0;
  }

  &::placeholder {
    text-align: center;
  }

  &.active {

    span,
    a {
      background: $dark-cinnamon;
      color: $white;
    }
  }
}


.btn-orange {
  @include fontMontserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;

  span,
  a {
    background: $dark-cinnamon;
    padding: 32px 0;
    transition: .3s ease all;
    color: $light-sand;
  }

  &:hover {

    span,
    a {
      background: $light-sand;
      color: $indigo;
    }
  }

  &.disabled {

    span,
    a {
      @include btnDisabled;

    }

  }
}

.center-text {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  display: none;
}



.display {
  @include display();
}

.headline,
.h1 {
  @include headline();
}

h2,
.h2 {
  @include h2();
}

h3,
.h3 {
  @include h3();
}

h4,
.h4 {
  @include h4();
}

h5,
.h5 {
  @include h5();
}

p,
.p,
ul,
ol {
  @include p();
}

ul,
ol {
  line-height: 40px;
}

p,
ul,
ol {

  &+p,
  &+ul,
  &+ol {
    margin-top: $sm-spacer;
  }
}

nav ul {
  padding: 0;
}

.p-small,
p.small {
  @include pSmall();
}

figcaption,
.caption {
  @include caption();
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  a {
    color: $cinnamon;
  }
}

nav ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

.link-hover {
  &:hover {
    cursor: pointer;
  }
}

// accordion
.accordion-wrapper {
  max-width: 1144px;
  margin: 0 auto;

  .accordion-item:last-child {
    .accordion-open {
      border-bottom: 2px solid $mild-gray !important;
    }
  }

  .accordion-open.link-hover {
    transition: .3s ease all;

    &:hover {
      color: $dark-cinnamon;
    }
  }

  .accordion-open {
    padding: 30px;
    border: 2px solid $mild-gray;
    border-bottom: 0;
  }
}


.section-title {
  text-align: center;
}


input {
  outline: 0;
  border: 0;
  border-radius: 0;
  @include input;

  &::placeholder {
    text-align: left;
    @include fontMontserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    color: $dark-gray;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

textarea,
input {
  @include input;
  outline: none;
  display: flex;
  min-height: 100%;
  flex: 1;
  border: 0;
  border-radius: 0;
  background: $white;
  color: $indigo;
  padding: 10px 20px;

  &::placeholder {
    color: $dark-cinnamon;
    opacity: 1;
    @include fontMontserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
  }
}


.row {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-bp) {
    flex-direction: column;
    justify-content: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
}


.page {
  margin-top: 33px;
}

.uppercase {
  text-transform: uppercase;
}


.error-group {
  background: $white;
  padding: 40px;
  color: $error;

  p {
    @include input;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;

  @media (max-width: $collapse-bp) {
    grid-column-gap: 8px;
  }

  overflow: hidden;
}


.flex-row {
  @include flexRow;
}


.flex-row-mobile {
  @media (max-width: $collapse-bp) {
    flex-direction: row;
  }
}


.custom-checkbox-input {
  position: relative;
  display: flex;

  &:before {
    content: ' ';
    flex: 0 0 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border: 2px solid $white;
    background: $indigo;
    transition: .3s ease all;
  }

  &.checked {
    &:before {
      background: $white;
    }
  }
}



section.newsletter {
  position: relative;
  z-index: 11;

  >* {
    position: relative;
    z-index: 11;
  }

  >.circle-illustration {
    width: 669px;
    height: 669px;
    border: 1px solid $md-gray;
    border-radius: 50%;
    position: absolute;
    right: -334px;
    top: 0;
    z-index: 10;
  }
}

section.newsletter+section.cta {
  position: relative;
  z-index: 11;
}
