$indigo: #080C34;
$blue: #0082A5;
$cinnamon: #F29D42;
$dark-cinnamon: #F05512;
$light-sand: #FFFDF5;
$sand: #F3EED7;
$error: #F23000;
$success: #08A671;
$black: #000000;
$dark-gray: #939393;
$mild-gray: #E5E5E5;
$light-gray: #F7F7F7;
$md-gray: #CCCCCC;
$white: #ffffff;
